// .menu-spacer {
//     flex: 1 1 auto;
//   }

.menu-icon {
    margin-right: 1rem;
}

.menu-container {
  width: 100vw;
  height: 112vh;
  position: absolute;
  background: transparent;
  z-index: 10;
  padding-top: 20px;
}
  
.menu-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.menu-sidenav {
  padding: 20px;
  width: 25vw;
  height: 100%;

  @media (max-width: 600px) {
    width: 50vw;
  }
}

.menu-drawer-hidden {
  display: none;
}