// .example-spacer {
//     flex: 1 1 auto;
//   }

.example-icon {
    margin-right: 1rem;
}

.example-container {
    width: 100vw;
    height: 112vh;
    position: absolute;
    z-index: 10;
    background: transparent;
    padding-top: 20px;
  }
  
  .example-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
    width: 25vw;
    height: 100%;

    @media (max-width: 600px) {
      width: 50vw;
    }
  }