<!-- Título dinâmico que indica o tipo de operação do card -->
<h2 mat-dialog-title align="center">{{!isNewTicket ? data.ticket.title : 'Novo Ticket'}}</h2>
<!-- Contêiner principal de Card para criação/edição de Ticket -->
<mat-dialog-content class="mat-typography">
    <!-- Título -->
    <mat-form-field appearance="fill">
        <mat-label>Título</mat-label>
        <input matInput [(ngModel)]="data.ticket.title" required cdkFocusInitial>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-content class="mat-typography">
    <!-- Descrição -->
    <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>
        <input matInput [(ngModel)]="data.ticket.description" required>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <!-- Botão para deletar Ticket atual -->
    <button *ngIf="!isNewTicket" mat-mini-fab color="warn" aria-label="Deletar Ticket" (click)="delete()">
        <mat-icon>delete</mat-icon>
    </button>
    <!-- Botão de cancelar alterações -->
    <button mat-button mat-dialog-close >Cancelar</button>
    <!-- Botão de salvar alterações -->
  <button mat-button [mat-dialog-close]="data" [disabled]="invalid()">Salvar</button>
</mat-dialog-actions>
