<h2 mat-dialog-title>{{data ? data.title : 'Novo card'}}</h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field appearance="fill">
        <mat-label>Título</mat-label>
        <input matInput [(ngModel)]="data.title">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>
        <input matInput [(ngModel)]="data.description">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Salvar</button>
</mat-dialog-actions>
