<!-- Contêiner principal para o Board -->
<div class="board-container">
  <!-- Botão de adicionar ticket -->
  <button matTooltip="Adicionar Ticket" matTooltipPosition="right" class="board-add-ticket-button" mat-fab color="secondary" (click)="openModal()" aria-label="Adicionar ticket no board">
    <mat-icon>add</mat-icon>
  </button>
  <!-- Wrapper de listas arrastáveis do board -->
  <div cdkDropListGroup class="board-flexbox">
    <!-- Lista "TO DO" -->
    <div class="board-list" tabindex="0">
      <h2>TO DO</h2>

      <div
        cdkDropList
        [cdkDropListData]="boardService.todo.list"
        class="drop-list"
        (cdkDropListDropped)="drop($event)">
          <app-ticket [ticket]="item" *ngFor="let item of boardService.todo.list" cdkDrag (click)="openModal(item, boardService.todo)"></app-ticket>
      </div>
    </div>

    <!-- Lista "IN PROGRESS" -->
    <div class="board-list" tabindex="0">
      <h2>IN PROGRESS</h2>

      <div
        cdkDropList
        [cdkDropListData]="boardService.inProgress.list"
        class="drop-list"
        (cdkDropListDropped)="drop($event)">
          <app-ticket [ticket]="item" *ngFor="let item of boardService.inProgress.list" cdkDrag (click)="openModal(item, boardService.inProgress)"></app-ticket>
      </div>
    </div>

    <!-- Lista "DONE" -->
    <div class="board-list" tabindex="0">
      <h2>DONE</h2>

      <div
        cdkDropList
        [cdkDropListData]="boardService.done.list"
        class="drop-list"
        (cdkDropListDropped)="drop($event)">
          <app-ticket [ticket]="item" *ngFor="let item of boardService.done.list" cdkDrag (click)="openModal(item, boardService.done)"></app-ticket>
      </div>
    </div>
  </div>

</div>
