<div class="board-container">
  <button matTooltip="Adicionar Card" matTooltipPosition="right" class="board-add-card-button" mat-fab color="secondary" (click)="openModal()" aria-label="Example icon button with an add icon">
    <mat-icon>add</mat-icon>
  </button>
  <div cdkDropListGroup class="board-flexbox">
      <div class="board-list">
        <h2>TO DO</h2>

        <div
          cdkDropList
          [cdkDropListData]="todo"
          class="drop-list"
          (cdkDropListDropped)="drop($event)">
            <app-ticket [ticket]="item" *ngFor="let item of todo" cdkDrag (click)="openModal(item, todo)"></app-ticket>
        </div>
      </div>

      <div class="board-list">
        <h2>IN PROGRESS</h2>

        <div
          cdkDropList
          [cdkDropListData]="inProgress"
          class="drop-list"
          (cdkDropListDropped)="drop($event)">
            <app-ticket [ticket]="item" *ngFor="let item of inProgress" cdkDrag (click)="openModal(item, inProgress)"></app-ticket>
        </div>
      </div>

      <div class="board-list">
        <h2>DONE</h2>

        <div
          cdkDropList
          [cdkDropListData]="done"
          class="drop-list"
          (cdkDropListDropped)="drop($event)">
            <app-ticket [ticket]="item" *ngFor="let item of done" cdkDrag (click)="openModal(item, done)"></app-ticket>
        </div>
      </div>
    </div>

</div>
